<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dnafactory_dataseeder_command_importbasesetupconfig" xsi:type="object">DNAFactory\DataSeeder\Command\ImportConfigCommand</item>
                <item name="dnafactory_dataseeder_command_importemailcommand" xsi:type="object">DNAFactory\DataSeeder\Command\ImportEmailCommand</item>
                <item name="dnafactory_dataseeder_command_importblockcommand" xsi:type="object">DNAFactory\DataSeeder\Command\ImportBlockCommand</item>
                <item name="dnafactory_dataseeder_command_importpagecommand" xsi:type="object">DNAFactory\DataSeeder\Command\ImportPageCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="DNAFactory\DataSeeder\Api\ImportBlockManagementInterface" type="DNAFactory\DataSeeder\Management\Import\BlockManagement" />
    <preference for="DNAFactory\DataSeeder\Api\ImportPageManagementInterface" type="DNAFactory\DataSeeder\Management\Import\PageManagement" />
    <preference for="DNAFactory\DataSeeder\Api\ImportConfigManagementInterface" type="DNAFactory\DataSeeder\Management\Import\ConfigManagement" />
    <preference for="DNAFactory\DataSeeder\Api\ImportEmailManagementInterface" type="DNAFactory\DataSeeder\Management\Import\EmailManagement" />
</config>
